body{
    background-color: rgb(113, 255, 208);
}

.card-header{
    background-color: rgb(128, 215, 255, 0.411);
}

.card{
    background-color: #84ffbf;
    width: 340px;
    margin-top: 80px;
    margin-bottom: 120px;
}

.btn{
    background-color: #00AA27;
    color: #FFFFFF;
}

.btn:hover{
    background-color: #009E24;
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

.fa-solid{
    margin: 11px;
}

.form-control {
    background-color: #84ffbf;
    padding-left: 0;
    border: none;
    border-bottom: 2px solid #619e7b;
    border-radius: 0;
    box-shadow: none;
}

.form-control:hover{
    box-shadow: none;
}

.form-control:focus {
    background-color: #84ffbf;
    border-color: #091610;
    box-shadow: none;
    transition: 0.1ms;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}